<header>
    <h3><a href="/dashboard">Job Tracker</a></h3>
    <div class="user-profile">
        <h3 class="fullname"></h3>
        <a href="/login" class="link-profile">Login</a>
        <a href="/sign-up" class="link-profile">Register</a>
    </div>
</header>