* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #1F1B24;
  color: #ECEFF1;
  font-size: 16px !important;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #2c2633;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h3 {
  font-size: 1.5em;
  color: #FF80AB;
}
header h3 a {
  text-decoration: none;
  color: #FF80AB;
}
header .user-profile {
  display: flex;
  align-items: center;
}
header .user-profile .fullname {
  margin-right: 15px;
  font-weight: 500;
}
header .user-profile .link-profile {
  color: #FF80AB;
  text-decoration: none;
  margin-left: 15px;
}
header .user-profile .link-profile:hover {
  color: #ffb3cd;
}

.title h2 {
  font-size: 2em;
  color: #D1C4E9;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container2.profile {
  width: 90%;
  max-width: 600px;
  background-color: #383141;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.container2.profile .title {
  margin-bottom: 20px;
}
.container2.profile .photo {
  margin-bottom: 20px;
}
.container2.profile .photo .photo-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #FF80AB;
}
.container2.profile .divprofile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2.profile .divprofile div {
  margin-bottom: 10px;
  width: 100%;
}
.container2.profile .divprofile div p {
  margin: 0;
  color: #ECEFF1;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
}
.container2.profile .divprofile #download-cv, .container2.profile .divprofile #upload-cv, .container2.profile .divprofile #change-password {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 80%;
  max-width: 250px;
  background-color: #FF80AB;
  color: #1F1B24;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  text-decoration: none;
  height: 46px;
}
.container2.profile .divprofile #download-cv:hover, .container2.profile .divprofile #upload-cv:hover, .container2.profile .divprofile #change-password:hover {
  background-color: #ff4d89;
}
.container2.profile .divprofile form {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: #332c3b;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}
.container2.profile .divprofile form label {
  display: block;
  margin-bottom: 5px;
  color: #D1C4E9;
}
.container2.profile .divprofile form input[type=file], .container2.profile .divprofile form input[type=text],
.container2.profile .divprofile form input[type=email], .container2.profile .divprofile form input[type=number],
.container2.profile .divprofile form textarea, .container2.profile .divprofile form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-bottom: 10px;
}
.container2.profile .divprofile form textarea {
  resize: vertical;
}
.container2.profile .divprofile form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.container2.profile .divprofile form button:hover {
  background-color: #c3b1e2;
}

.divdashboard {
  text-align: center;
  padding: 30px 20px;
  background-color: #332c3b;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 1000px;
  width: 90%;
}
.divdashboard .title.job-title h2 {
  font-size: 2.2em;
  color: #D1C4E9;
  padding: 10px;
}
.divdashboard a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.divdashboard a:hover {
  background-color: #ff4d89;
}

.container3 {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px;
  background-color: #383141;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.container3 .filters {
  margin-bottom: 30px;
}
.container3 .filters label {
  margin-right: 10px;
  color: #D1C4E9;
  font-weight: 500;
}
.container3 .filters select {
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-right: 20px;
}
.container3 .filters select option {
  background-color: #1F1B24;
}
.container3 .jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container3 .jobs .job {
  padding: 15px;
  background-color: #453c50;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.container3 .jobs .job .status {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #1F1B24;
  background-color: #FF80AB;
  transform: translateY(-26px);
  float: right;
}
.container3 .jobs .job .status.interested {
  background-color: rgb(152, 186, 242);
}
.container3 .jobs .job .status.interview {
  background-color: rgb(174, 242, 152);
}
.container3 .jobs .job .status.cvSent {
  background-color: rgb(242, 240, 152);
}
.container3 .jobs .job .status.negative {
  background-color: rgb(221, 188, 255);
}
.container3 .jobs .job .titlejob {
  margin: 10px 0;
}
.container3 .jobs .job .titlejob h4 {
  margin: 0;
  color: #D1C4E9;
}
.container3 .jobs .job .companyname {
  margin-bottom: 10px;
}
.container3 .jobs .job .companyname p {
  margin: 0;
  color: #ECEFF1;
}
.container3 .jobs .job .link a {
  color: #FF80AB;
  text-decoration: none;
  font-weight: 500;
  float: right;
  margin-top: 5px;
}
.container3 .jobs .job .link a:hover {
  text-decoration: underline;
}
.container3 .jobs .job .delete {
  color: #FF80AB;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
}

.container2 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px 20px;
  background-color: #332c3b;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.container2 .title.job-title h2 {
  font-size: 2.2em;
  color: #D1C4E9;
  padding: 10px;
  margin-bottom: 15px;
}
.container2 .form-job {
  width: 70%;
  margin: auto;
}
.container2 .form-job form label {
  display: block;
  margin-bottom: 5px;
  color: #D1C4E9;
}
.container2 .form-job form input[type=text],
.container2 .form-job form input[type=email],
.container2 .form-job form input[type=number],
.container2 .form-job form textarea,
.container2 .form-job form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-bottom: 10px;
}
.container2 .form-job form textarea {
  resize: vertical;
}
.container2 .form-job form button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 80%;
  max-width: 250px;
  background-color: #FF80AB;
  color: #1F1B24;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  text-decoration: none;
  height: 46px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container2 .form-job form button:hover {
  background-color: #ff4d89;
}

.divjobupdate {
  width: 70%;
  margin: auto;
}
.divjobupdate form {
  position: relative;
}
.divjobupdate form label {
  display: block;
  margin-bottom: 5px;
  color: #D1C4E9;
}
.divjobupdate form input[type=text], .divjobupdate form input[type=email], .divjobupdate form input[type=number],
.divjobupdate form textarea, .divjobupdate form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-bottom: 10px;
}
.divjobupdate form textarea {
  resize: vertical;
}
.divjobupdate form textarea#comments {
  margin-bottom: 33px;
}
.divjobupdate form hr {
  margin-top: 15px;
}
.divjobupdate form button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 80%;
  max-width: 250px;
  background-color: #FF80AB;
  color: #1F1B24;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  text-decoration: none;
  height: 46px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 0;
}
.divjobupdate form button:hover {
  background-color: #ff4d89;
}

.divjobinfo {
  position: relative;
  padding: 0 25px 0 25px;
}
.divjobinfo p {
  margin-bottom: 5px;
  color: #ECEFF1;
  font-size: 16px !important;
}
.divjobinfo p.comment {
  margin-bottom: 30px;
}
.divjobinfo span {
  margin: 5px 0;
  font-weight: bold;
  color: #D1C4E9;
}
.divjobinfo button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 80%;
  max-width: 250px;
  background-color: #FF80AB;
  color: #1F1B24;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  text-decoration: none;
  height: 46px;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.divjobinfo button:hover {
  background-color: #ff4d89;
}
.divjobinfo a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.divjobinfo a:hover {
  background-color: #ff4d89;
}

.divtitle {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
  background-color: #332c3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.divtitle a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.divtitle a:hover {
  background-color: #ff4d89;
}
.divtitle .title.job-title h2 {
  font-size: 2.2em;
  color: #D1C4E9;
  padding: 10px;
}

.container4 {
  width: 90%;
  max-width: 400px;
  background-color: #383141;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0px auto 50px auto;
}
.container4 form {
  display: flex;
  flex-direction: column;
}
.container4 form label {
  margin-bottom: 5px;
  color: #D1C4E9;
  font-weight: 500;
}
.container4 form input[type=email], .container4 form input[type=password], .container4 form input {
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-bottom: 20px;
  font-size: 1em;
}
.container4 form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.container4 form button:hover {
  background-color: #ff4d89;
}
.container4 form p {
  text-align: center;
  color: #ECEFF1;
}
.container4 form p a {
  color: #FF80AB;
  text-decoration: none;
}
.container4 form p a:hover {
  text-decoration: underline;
}

.title h2 {
  font-size: 2em;
  color: #D1C4E9;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container2.profile, .container2.register {
  width: 90%;
  max-width: 600px;
  background-color: #383141;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.container2.profile form, .container2.register form {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: #332c3b;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.container2.profile form.update-cv-form input, .container2.profile form.update-password-form input, .container2.register form.update-cv-form input, .container2.register form.update-password-form input {
  margin-bottom: 60px !important;
}
.container2.profile form.update-cv-form button, .container2.profile form.update-password-form button, .container2.register form.update-cv-form button, .container2.register form.update-password-form button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container2.profile form label, .container2.register form label {
  display: block;
  margin-bottom: 5px;
  color: #D1C4E9;
}
.container2.profile form input[type=text], .container2.profile form input[type=email], .container2.profile form input[type=password],
.container2.profile form input[type=file], .container2.profile form input[type=Firstname], .container2.profile form input[type=Lastname],
.container2.profile form input[type=Github], .container2.profile form input[type=repeat-password], .container2.profile form textarea, .container2.profile form select, .container2.register form input[type=text], .container2.register form input[type=email], .container2.register form input[type=password],
.container2.register form input[type=file], .container2.register form input[type=Firstname], .container2.register form input[type=Lastname],
.container2.register form input[type=Github], .container2.register form input[type=repeat-password], .container2.register form textarea, .container2.register form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
  background-color: #1F1B24;
  color: #ECEFF1;
  margin-bottom: 10px;
}
.container2.profile form button, .container2.register form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF80AB;
  color: #1F1B24;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  text-decoration: none;
  width: 80%;
  max-width: 250px;
  margin: 20px auto;
}
.container2.profile form button:hover, .container2.register form button:hover {
  background-color: #ff4d89;
}
.container2.profile form p, .container2.register form p {
  text-align: center;
  margin: 20px 0 0 0;
}
.container2.profile form p a, .container2.register form p a {
  color: #FF80AB;
  text-decoration: none;
  font-weight: 500;
}
.container2.profile form p a:hover, .container2.register form p a:hover {
  text-decoration: underline;
}

.errorMessage {
  color: #ff1a68;
  padding: 10px;
  border-radius: 5px;
  padding: 20px 0 10px 0;
  text-align: center;
}

@media (max-width: 900px) {
  .container3 {
    padding: 30px;
  }
  .container3 .filters select {
    width: auto;
  }
  .container3 .jobs .job {
    padding: 10px;
  }
  .container3 .jobs .job {
    padding: 10px;
  }
  .container3 .jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 600px) {
  header h3 {
    font-size: 1.2em;
  }
  .title h2,
  .divdashboard .title.job-title h2 {
    font-size: 1.6em;
  }
  .container2.profile .photo-profile {
    width: 120px;
    height: 120px;
  }
  .container3 .jobs .job {
    padding: 10px;
    width: 100%;
  }
  .container3 .filters {
    display: grid;
    grid-template-columns: repeat(2, 67px);
  }
  .container3 .filters select {
    width: 83px;
    margin-bottom: 5px;
  }
  .container3 .filters label {
    margin-top: 5px;
  }
  .container2.register {
    padding: 20px;
  }
  .container2.register form {
    padding: 15px;
  }
  .container4 {
    padding: 20px;
    max-width: 90%;
  }
  form input[type=email], form input[type=password] {
    font-size: 0.9em;
  }
  form button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
  .container3 .jobs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */